/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Portrait layout (default) */
.app {
    height:100%;                   /* text area height */
    width:100%;                  /* text area width */
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 29px;
    bottom: 50px;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.bar-title .title {
    text-transform: capitalize !important;
    font-size: 18px;
}

#bsmsdc {
    display: none;
}

#back_button {
    display: none;
}


.bar-title {
    /*margin-top: 20px;*/
}

.spinner {
    display: none;
    padding: 10px;
    margin: auto;
    /*z-index: 999;*/
/*    position: fixed;
    left: 50%;
    top: 50%;*/
}
.spinner_index {
    display: none;
    padding: 0px;
    margin: 0px;
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: .7;
}

#ajax_error {
    display: none;
    margin: 0px;
    font-style: italic;
    font-size: 14px;
    color: rgb(146,146,146);
    padding: 20px;
}

.sub_text {
    text-transform: capitalize;
}

.details_title {
    /*font-weight: bold;*/
}

#view_title{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
    /*margin-top: 50px;*/
}

.txtVendor {
    margin-top: 50px;
}

.login_title {
    font-size: 22px;
    margin-top: 50px;
    /*font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    /*margin-top: 50px;
    margin-bottom: 50px;*/
    /*padding: 50px;
    text-align: center;*/
}

.ui-link {
    color: #FFF !important;
    text-shadow: none !important;
}

.dashboard_tiles{
    background-color: #FFFFFF;
    opacity: 0.7;
    /*padding: 10px;*/
    border-radius: 10px;
    border: solid 0px #A7A7A7;
    box-shadow: 0px 0px 0px 0px #A7A7A7;
    margin-top: 10px;
}

#trackerMap {
    position:relative;
    width:100%; 
    height:300px;
}

.contact {
    font-size: 16px;
}

.ui-btn-up-c {
    background: #fff;
}

.dashboard-list {
    font-size: small; 
    /*font-family:'segoe ui';*/
}

.infobox {
    position: relative;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    left: 0px;
    top: 0px;
    width: 256px;
}

.infobox_close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
}

.infobox_content {
    margin: 5px;
    /*font-family: Arial;*/
    font-size: 11px;
    line-height: 22px;
}

.infobox_pointer {
    width: 33px;
    height: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    left: 20px;
    top: -1px;
}

.infobox_title {
    font-weight: bold;
    font-size: 15px;
}

#content h3,
#content h2{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.3em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /*text-align: center;*/
}

.crew_table{
    width: 100%;
    text-align: left;
}

 .crew_detail{
    display: none;
 }

 .li-data-list-small{
    color:rgb(15,15,15); 
    font-weight: normal
 }



.list li {
    position: relative;
    text-align: left;
    clear: both;
    padding: 12px 60px 16px 8px !important;
}

.list > li p:nth-of-type(1) {
    margin: 0px;
    padding-top: 4px;
    font-weight: bold;
}

.list > li p:nth-of-type(2) {
    margin: 0px;
    color: #888;
}

.list > li img {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 0px;
    margin-right: 8px;
}

.list li:active {
    background-color: #E6E6E6;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
    box-shadow: inset 0 1px rgba(0,0,0,0.18);
}

.action-list > li {
    position: relative;
}

.action-icon {
    position: absolute !important;
    top: 22px;
    right: 20px !important;
    width: 28px !important;
    height: 28px;
}

.actions li p:nth-of-type(2) {
    color:  #58C0FF ;
}

ul {
    clear:both;
    border-top: none !important;
}

.chevron {
    background: transparent url(images/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 10px;
    height: 25px;
    width: 28px;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgb(0, 0, 0);
}


.topcoat-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  appearance: button;
  text-indent: 0.01px;
  text-overflow: '';
  padding: 0.7rem 1.4rem 0.7rem 1rem;
  font-size: 16px;
  font-weight: 400;
  height: 3rem;
  letter-spacing: 1px;
  color: hsla(0, 0%, 27%, 1);
  text-shadow: 0 1px hsla(0, 100%, 100%, 1);
  border-radius: 6px;
  /*background-color: hsla(165, 8%, 91%, 1);*/
  background-color: #FFFFFF;
  box-shadow: inset 0 1px hsla(0, 100%, 100%, 1);
  border: 1px solid hsla(168, 8%, 65%, 1);
  background-image: url('topcoat/img/dropdown.svg');
  background-repeat: no-repeat;
  background-position: center right;
  min-width: 3.4rem;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.topcoat-select:hover {
  background-color: hsla(180, 7%, 94%, 1);
}

.topcoat-select:active {
  background-color: hsla(180, 5%, 83%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 0%, 0.1);
}

.topcoat-select:focus {
  border: 1px solid hsla(227, 100%, 50%, 1);
  box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
  outline: 0;
}

.topcoat-icon--back {
    background: url("topcoat/img/back_dark.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.topcoat-text-input{
    background-color: #FFFFFF;
    margin: 1px
}

.topcoat-text-input:focus{
    background-color: #FFFFFF;
}

/*#btnBack:hover,
#hamburger-btn:hover{
  background-color: #383838;
  text-shadow: 0 1px blue;
  border: 1px solid #696969;
  box-shadow: inset 0 1px #696969;
}*/

/*#hamburger-btn:focus,
#hamburger-btn:hover:focus, {
  border: 1px solid #0036ff;
  box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
  outline: 0;
}*/

.smooth {
  /*transition-duration:.2s;*/
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
}

.opened {
  -moz-transform: translateX(-70%);
  -webkit-transform: translateX(-70%);
  -o-transform: translateX(-70%);
  -ms-transform: translateX(-70%);
  transform: translateX(-70%);
}

.leftsmooth {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
}

.rightsmooth {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
}

.sidemenu--opened{
  display: block !important;
  z-index: 1 !important;
}

.container--sidemenu {
  position:fixed;
  width:70%;
  right:0;
  height: 100%;
  z-index: -1;
}

.on-top {
  position:relative;
  z-index:10;
}

html, body {
  height:100%;
}

.full-height {
  height:100%;
}

.full-width {
  width:100%;
}

.topcoat-list{
    background-color: #FFFFFF;
}

.topcoat-text-input{
    width: 100%;
}

.topcoat-navigation-bar{
    height: 3.95rem;
    background-color: #3e3c3d;

}

.topcoat-navigation-bar__title{
  color: #FFF;
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto !important;
}

.header{
    /*position: absolute;*/
    width: 100%;
    z-index: 11;
}


.content {
  /*background: #dfe2e2;*/
  background-color: #FFFFFF;
  margin:0;
  padding: 1rem;
  height:100%;
  min-height: 1100px !important;
}

.contentlayer-opened{
  display: block !important;
}

#contentLayer{
  width: 100% !important;
  min-height: 0px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

/*.dashboard_tiles_s{
    border: solid 0px #A7A7A7;
    box-shadow: 0px 0px 0px 0px #A7A7A7;
    margin-bottom: 10px;
}

.dashboard_tiles_s:hover {
  background-color: #929290;
}*/


span.header {
  font-size:26px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:left;
}


.footer {
  margin: 3px;
  padding: 5px;
  /* width: 100px; */
  /* height: 100px; */
  /*-webkit-box-shadow: 0 1px 5px #CDCFD1, inset 0 10px 20px #919292;
  -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
  box-shadow: 0 1px 5px #4E4E4E, inset 0 10px 20px #D5D5D5;*/
  /*background: #E4E4E4;*/
  margin-top: 5px;
  background: #FFF;
  overflow: auto;
  border-radius: 10px;
  border: solid 1px #A7A7A7;
  box-shadow: 1px 4px 14px 0px #A7A7A7;
  /*position: fixed;
  bottom: 0;
  border-radius: 10px;
  border: solid 0px #A7A7A7;
  box-shadow: 0px 0px 0px 0px #A7A7A7;
  margin-bottom: 10px;
  color: white;
  width: 100%;
  top: 70%;
  overflow: auto;*/
}

#content {
  top: 0px; 
  /*position: absolute;*/
  bottom: 0px;
  left:0px;
  right: 0px;
  padding: 0px;
  overflow-x: hidden;
    
}

#bg {
  position: absolute;
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0px;
  z-index: 0;
  background-position: center;
  background-size: 120% 120%;
}

body{
  background-color: #3e3c3d;
  /*background-image:url('images/paper.png');*/
  /*background-repeat:repeat;*/
/*  background: #FFF;
*/  font: menu 59px;
  /*font: "Arial", helvetica, arial, sans-serif;*/
  -webkit-overflow-scrolling: touch;
  text-transform: capitalize;

}

#container,  #alert_content {
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

#plan_details_header{
  font-size: 14px;
  height: 45px;
  background-color: aqua;
}

.header_white{
  background-color: white;
  opacity: .5;
  height: 85px;
}

.header_text{
  width: 100%;
  font-size: 20px;
  /*position: relative;
  top: -34px;*/
  /*margin-left: 5px;*/
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#plan_details_header_menu{
  height: 38px;
  width: 38px;
  position: absolute;
  top: 6px;
  font-size: 25px;
  right: 15px;
/*  background-color: black;
  color: white;*/
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  z-index: 1000;
}

#hamburger-btn{
  height: 38px;
  width: 38px;
  position: absolute;
  top: 13px;
  font-size: 25px;
  right: 10px;
  color: white;
 /* background-color: rgb(60, 36, 102);
  color: white;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  z-index: 1000;*/
}

#alert-btn{
  height: 38px;
  width: 38px;
  position: absolute;
  top: 18px;
  font-size: 25px;
  left: 7px;
/*  background-color: rgb(60, 36, 102);
  color: white;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;*/
  z-index: 15;
  color: #FFF;
}

#alert_count_btn{
  height: 28px;
  width: 28px;
  position: absolute;
  top: 16px;
  font-size: 20px;
  left: 8px;
/*  background-color: rgb(60, 36, 102);
  color: white;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;*/
  z-index: 14;
  color: #F34848;
  background-color: #F34848;
}

#alert_count { 
  margin-left: 10px;
  color: #FFF;

}


.hamburger{
  /*position: relative;
  top: 6px;
  right: -7px;*/
  position: relative;
  top: 6px;
  /*right: -6px;*/
  z-index: 1000;
}

.back-btn{
  height: 34px;
  width: 34px;
  position: absolute;
  top: 6px;
  font-size: 25px;
  right: 15px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  z-index: 1000;
}

.footer-button{
  height: 30px;
  width: 30px;
  /*position: absolute;*/
  /* top: 6px; */
  font-size: 15px;
  /* right: 15px; */
  background-color: white;
  color: #3e3c3d;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid;
  display: inline-block;
  margin: 10px;
}

.button-icon{
  position: relative;
  top: 7px;
  right: -7px;
}

.pagename-icon{
  /*position: relative;
  top: 2px;*/
}


input[type=date] {
  -webkit-appearance: none;
  /*line-height: 2.313rem;*/
  min-height: 3rem;
  font-size: 12px;
  letter-spacing: 0;
  padding: 0 0.563rem;
  border: 1px solid #9daca9;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  color: #454545;
  vertical-align: top;
}

input::-webkit-datetime-edit {
  -webkit-appearance: none;
}

input::-webkit-datetime-edit-fields-wrapper {
  -webkit-appearance: none;
}

input::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  color: #ccc;
}

input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  color: #454545;
  text-shadow: 0 1px #fff;
}

input::-webkit-clear-button {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border-radius: 1px;
}

input::-webkit-calendar-picker-indicator,
#picker {
  -webkit-appearance: none;
}

/*#,*/
/*#openpositions_content {
    padding-left: 25px;
}

#show_training_details {
    padding-left: 8px;
}*/

#allotment_details,
#show_flight_details,
#doa_content,
#correspondance_content,
#update_profile,
#document_details{
  /*background-color: black;
  color: white;*/
  height: 100%;
}

.head_common_pic {
  height :0px;
}

.head_common {
  height :45px;
}

.arrow_div_training{
  top: 262px;
  position: absolute;
  width: 99%;
  background: none !important; 
  opacity: 0.8;
}


.arrow_div_opening{
  top: 262px;
  position: absolute;
  width: 99%;
  background: none !important; 
  opacity: 0.8;
}

.footer-training-content {
  padding: 10px;
}

#foot_training {
  margin: 3px;
  padding: 5px;
  /* width: 100px; */
  /* height: 100px; */
  -webkit-box-shadow: 0 1px 5px #CDCFD1, inset 0 10px 20px #919292;
  -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
  box-shadow: 0 1px 5px #4E4E4E, inset 0 10px 20px #D5D5D5;
  background: #E4E4E4;
  overflow: overlay;
}

#foot_opening {
  margin: 3px;
  padding: 5px;
  /* width: 100px; */
  /* height: 100px; */
  -webkit-box-shadow: 0 1px 5px #CDCFD1, inset 0 10px 20px #919292;
  -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
  box-shadow: 0 1px 5px #4E4E4E, inset 0 10px 20px #D5D5D5;
  background: #E4E4E4;
  overflow: overlay;
}
.hambrgrdetails {
  margin: 3px;
  padding: 5px;
  /*margin-top: 45px;
   width: 100px; */
  /* height: 100px; */
  /*-webkit-box-shadow: 0 1px 5px #CDCFD1, inset 0 10px 20px #919292;
  -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
  box-shadow: 0 1px 5px #4E4E4E, inset 0 10px 20px #D5D5D5;*/
  background: #FFF;
  text-transform: capitalize !important;
}


div.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  /*background: brown;*/
  /*background-image:url('images/paper.png');*/
  background-color: #FFF;
}

div.scene.active {
  /*position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  background: brown;
  z-index: 10;*/
}

.btns {
  list-style-type:circle;
  display: inline-block;
  /*display: inline-block;
  width: 100%;
  background: #b0b0b0;
  background-image: -webkit-linear-gradient(top, #b0b0b0, #949494);
  background-image: -moz-linear-gradient(top, #b0b0b0, #949494);
  background-image: -ms-linear-gradient(top, #b0b0b0, #949494);
  background-image: -o-linear-gradient(top, #b0b0b0, #949494);
  background-image: linear-gradient(to bottom, #b0b0b0, #949494);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
  margin-bottom: 2px;*/
}

.btns:hover {
  /*display: inline-block;
  background: #CCCCCC;
  background-image: -webkit-linear-gradient(top, #b0b0b0, #7C7C7C);
  background-image: -moz-linear-gradient(top, #b0b0b0, #7C7C7C);
  background-image: -ms-linear-gradient(top, #b0b0b0, #7C7C7C);
  background-image: -o-linear-gradient(top, #b0b0b0, #7C7C7C);
  background-image: linear-gradient(to bottom, #b0b0b0, #7C7C7C);
  text-decoration: none;
  border-style: none;*/
}

#you {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

#youbtns {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.openpositionbox {
  width: 100%;
  /* height: 100px; */
  float: left;
}

.openpositionchild1 {
  float:left;
  margin-right:5px;
}

.topcoat-button-bar__button{
  background: #E4E4E4;
}

.dip_img {
  width:100%; 
  height:150px;
  -webkit-box-shadow: 0 1px 5px #CDCFD1, inset 0 10px 20px #919292;
  -moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
  box-shadow: 0 1px 5px #4E4E4E, inset 0 10px 20px #D5D5D5;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

hr.style-four {
  height: 7px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

.center
{
  margin-left:auto;
  margin-right:auto;
  /*width:60%;
  background-color:#b0e0e6;*/
}
.bsmlogo {
/*  margin-top: 15px; 
  margin-left: 4px;*/ 
  z-index: 1000; 
  position: relative;
}

.hamb_div {
  float: left;
  margin-right: 3px;
}


#empprof {
  color:white;
}

/*.header_bar{
  font-size: 14px;
  height: 45px;
  font-size: 14px;
  height: 45px;
  background-color: red;
  position: fixed;
  width: 100%;
}*/

.triangle-right.right {
  margin-right: 40px;
  background: #1FB87B;
}

.triangle-right {
  position: relative;
  padding: 15px;
  /*margin: 1em 0 3em;*/
  color: #fff;
  background: #1FB87B;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#1FB87B));
  background: -moz-linear-gradient(#2e88c4, #1FB87B);
  background: -o-linear-gradient(#2e88c4, #1FB87B);
  background: linear-gradient(#2e88c4, #1FB87B);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.triangle-right.right:after {
  top: 16px;
  right: -40px;
  bottom: auto;
  left: auto;
  border-width: 15px 0 0 40px;
  border-color: transparent #1FB87B;
}
.triangle-right:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #1FB87B transparent;
  display: block;
  width: 0;
}

.triangle-right.left {
  margin-left: 40px;
  background: #0C6FC2;
}

.triangle-right.left:after {
  top: 16px;
  left: -40px;
  bottom: auto;
  border-width: 15px 40px 0 0;
  border-color: transparent #0C6FC2;
}
.triangle-right:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #0C6FC2 transparent;
  display: block;
  width: 0;
}
.mobileNav{
  z-index: 1000 ! important;
}